In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [4]:
df.shape

(10886, 12)

In [5]:
df.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

# Exploratory Data Analysis (EDA)

## 1. Changing datatime data-type into datetime

In [7]:
df['datetime'] = pd.to_datetime(df['datetime'])

## 2. Check the data type of each column. How many rows are there in the dataset? Does the dataset contain any missing values?

In [8]:
# How many rows are there in the dataset?

print(f"Total Number of Rows in Dataset:- {df.shape[0]}")
print(f"Total Number of Columns in Dataset:- {df.shape[1]}")

Total Number of Rows in Dataset:- 10886
Total Number of Columns in Dataset:- 12

In [9]:
# Does the dataset contain any missing values?

df.isnull().sum()   # No missing values

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [10]:
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

## 3. Using the date column, create new columns for: year, month, day of the week and hour of the day.

In [11]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day_of_week'] = df['datetime'].dt.dayofweek
df['hour_of_day'] = df['datetime'].dt.hour

df.drop(columns=["datetime"], inplace=True)

In [12]:
df = df.reindex(columns=["year", "month", "day_of_week", "hour_of_day"] + list(df.columns[:-4]))

In [13]:
df.head(4)

,year,month,day_of_week,hour_of_day,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011,1,5,0,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011,1,5,1,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011,1,5,2,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011,1,5,3,1,0,0,1,9.84,14.395,75,0.0,3,10,13

## 4. Rename the values in the season column to spring, summer, fall and winter.

In [14]:
df['season'] = df['season'].map({1:'spring', 2:'summer', 3:'fall', 4:'winter'})

In [15]:
df['season'].unique()

array(['spring', 'summer', 'fall', 'winter'], dtype=object)

In [16]:
df.head(4)

,year,month,day_of_week,hour_of_day,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011,1,5,0,spring,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011,1,5,1,spring,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011,1,5,2,spring,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011,1,5,3,spring,0,0,1,9.84,14.395,75,0.0,3,10,13

## 5. Calculate the total number of casual and registered bikes rented in the years 2011 and 2012.

In [17]:
def calculate_total_bikes_rented(df):
  total_casual_2011 = df[df['year'] == 2011]['casual'].sum()
  total_registered_2011 = df[df['year'] == 2011]['registered'].sum()
    
  total_casual_2012 = df[df['year'] == 2012]['casual'].sum()
  total_registered_2012 = df[df['year'] == 2012]['registered'].sum()

  return total_casual_2011, total_registered_2011, total_casual_2012, total_registered_2012

print(f"Total number of casual  bikes rented in the years 2011:- \033[1;31m{calculate_total_bikes_rented(df)[0]}\033[0m")
print(f"Total number of registered  bikes rented in the years 2011:- \033[1;31m{calculate_total_bikes_rented(df)[1]}\033[0m")
print(" ")
print(f"Total number of casual  bikes rented in the years 2012:- \033[1;31m{calculate_total_bikes_rented(df)[2]}\033[0m")
print(f"Total number of registered  bikes rented in the years 2012:- \033[1;31m{calculate_total_bikes_rented(df)[3]}\033[0m")

Total number of casual  bikes rented in the years 2011:- 155817
Total number of registered  bikes rented in the years 2011:- 626162

Total number of casual  bikes rented in the years 2012:- 236318
Total number of registered  bikes rented in the years 2012:- 1067179

## 6. Calculate the mean of the hourly total rentals count by season. Which season has the highest mean ?

In [18]:
mean_rentals_by_season = df.groupby('season')['count'].mean()

highest_mean_season = mean_rentals_by_season.idxmax()
highest_mean_value = mean_rentals_by_season.max()

print("Mean of hourly total rentals by season:")
print(mean_rentals_by_season)
print(f"\nSeason with the highest mean hourly rentals: {highest_mean_season} (Mean: {highest_mean_value:.2f})")

Mean of hourly total rentals by season:
season
fall      234.417124
spring    116.343261
summer    215.251372
winter    198.988296
Name: count, dtype: float64

Season with the highest mean hourly rentals: fall (Mean: 234.42)

## 7. Are more bikes rented by registered users on working or non-working days ? Does the answer differ for non-registered users ? Is the answer the same for both years ?

#### Are more bikes rented by registered users on working or non-working days ?

In [19]:
bike_rentals_by_workingday_year = df.groupby(['year', 'workingday'])[['registered']].sum()

print("Total casual and registered bike rentals by year and working day status:")
print(bike_rentals_by_workingday_year)

print("\nAre more bikes rented by registered users on working or non-working days?")
for year in df['year'].unique():
    registered_working = bike_rentals_by_workingday_year.loc[(year, 1), 'registered']
    registered_non_working = bike_rentals_by_workingday_year.loc[(year, 0), 'registered']
    if registered_working > registered_non_working:
        print(f"In {year}, more bikes are rented by registered users on working days ({registered_working}) than non-working days ({registered_non_working}).")
    else:
        print(f"In {year}, more bikes are rented by registered users on non-working days ({registered_non_working}) than working days ({registered_working}).")

Total casual and registered bike rentals by year and working day status:
                 registered
year workingday
2011 0               167492
     1               458670
2012 0               281343
     1               785836

Are more bikes rented by registered users on working or non-working days?
In 2011, more bikes are rented by registered users on working days (458670) than non-working days (167492).
In 2012, more bikes are rented by registered users on working days (785836) than non-working days (281343).

#### Does the answer differ for non-registered users ?

In [20]:
bike_rentals_by_workingday_year = df.groupby(['year', 'workingday'])[['casual','registered']].sum()
for year in df['year'].unique():
    casual_working = bike_rentals_by_workingday_year.loc[(year, 1), 'casual']
    casual_non_working = bike_rentals_by_workingday_year.loc[(year, 0), 'casual']
    if casual_working > casual_non_working:
        print(f"In {year}, more bikes are rented by non-registered users on working days ({casual_working}) than non-working days ({casual_non_working}).")
    else:
        print(f"In {year}, more bikes are rented by non-registered users on non-working days ({casual_non_working}) than working days ({casual_working}).")

In 2011, more bikes are rented by non-registered users on non-working days (83099) than working days (72718).
In 2012, more bikes are rented by non-registered users on non-working days (122938) than working days (113380).

####  Is the answer the same for both years ?

In [21]:
registered_working_2011 = bike_rentals_by_workingday_year.loc[(2011, 1), 'registered']
registered_non_working_2011 = bike_rentals_by_workingday_year.loc[(2011, 0), 'registered']
registered_working_2012 = bike_rentals_by_workingday_year.loc[(2012, 1), 'registered']
registered_non_working_2012 = bike_rentals_by_workingday_year.loc[(2012, 0), 'registered']

registered_pattern_2011 = "working days" if registered_working_2011 > registered_non_working_2011 else "non-working days"
registered_pattern_2012 = "working days" if registered_working_2012 > registered_non_working_2012 else "non-working days"

if registered_pattern_2011 == registered_pattern_2012:
    print(f"For registered users, the answer is the same for both years: more bikes are rented on {registered_pattern_2011}.")
else:
    print("For registered users, the answer differs between years.")

For registered users, the answer is the same for both years: more bikes are rented on working days.

## 8. Which months in the year 2011 have the highest and the lowest total number of bikes rented ? Repeat for the year 2012.

In [22]:
def get_min_max_rentals_by_month(df, year):
    year_df = df[df['year'] == year]
    monthly_rentals = year_df.groupby('month')['count'].sum()

    highest_month = monthly_rentals.idxmax()
    highest_rentals = monthly_rentals.max()

    lowest_month = monthly_rentals.idxmin()
    lowest_rentals = monthly_rentals.min()

    print(f"\n--- Year {year} ---")
    print(f"Month with highest rentals: {highest_month} (Total: {highest_rentals})")
    print(f"Month with lowest rentals: {lowest_month} (Total: {lowest_rentals})")

get_min_max_rentals_by_month(df, 2011)
get_min_max_rentals_by_month(df, 2012)

--- Year 2011 ---
Month with highest rentals: 7 (Total: 92848)
Month with lowest rentals: 1 (Total: 23552)

--- Year 2012 ---
Month with highest rentals: 9 (Total: 133425)
Month with lowest rentals: 1 (Total: 56332)

## 9. Which type of weather have the highest and lowest mean of the hourly total rentals count ?

#### Weather Type -
##### 1: Clear, Few clouds, Partly cloudy, Partly cloudy
##### 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist.
##### 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds.
##### 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

In [23]:
def get_min_max_averagerentalcount_weather(df, year):
  year_df = df[df['year'] == year]

  average_rentalcount = year_df.groupby('weather')['count'].mean()

  highest_weather = average_rentalcount.idxmax()
  highest_average_rentalcount = average_rentalcount.max()

  lowest_weather = average_rentalcount.idxmin()
  lowest_average_rentalcount = average_rentalcount.min()

  print(f"\n--- Year {year} ---")
  print(f"weather with highest mean of total rental counts: Type - {highest_weather} (Total: {highest_average_rentalcount})")
  print(f"weather with lowest mean of total rental counts: Type - {lowest_weather} (Total: {lowest_average_rentalcount})")

get_min_max_averagerentalcount_weather(df, 2011)
get_min_max_averagerentalcount_weather(df, 2012)

--- Year 2011 ---
weather with highest mean of total rental counts: Type - 1 (Total: 154.84621825286072)
weather with lowest mean of total rental counts: Type - 3 (Total: 92.08245243128964)

--- Year 2012 ---
weather with highest mean of total rental counts: Type - 1 (Total: 255.2643391521197)
weather with lowest mean of total rental counts: Type - 3 (Total: 151.6424870466321)

### 10. Calculate the correlation between the hourly total rentals count and all the numerical columns in the dataset. Which column has the highest correlation with the total rentals count ?

In [24]:
def highest_correlation_with_count(df):
  numerical_columns = df.drop(columns=['season'])
  correlations = numerical_columns.corr()['count']

  correlations = correlations.drop('count')

  highest_correlation_column = correlations.abs().idxmax()
  highest_correlation_value = correlations[highest_correlation_column]

  print("Correlations with 'count' column:")
  print(correlations)
  print(f"\nColumn with the highest correlation with 'count': {highest_correlation_column} (Correlation: {highest_correlation_value:.4f})")

highest_correlation_with_count(df)

Correlations with 'count' column:
year           0.260403
month          0.166862
day_of_week   -0.002283
hour_of_day    0.400601
holiday       -0.005393
workingday     0.011594
weather       -0.128655
temp           0.394454
atemp          0.389784
humidity      -0.317371
windspeed      0.101369
casual         0.690414
registered     0.970948
Name: count, dtype: float64

Column with the highest correlation with 'count': registered (Correlation: 0.9709)

### 11. Create a new categorical column called day_period, which can take four possible values: night, morning, afternoon and evening. These values correspond to the following binning of the hour column: 0-6: night, 6-12: morning, 12-6: afternoon, 6-24:evening.

In [25]:
df['day_period'] = pd.cut( df['hour_of_day'], bins=[0, 6, 12, 18, 24], labels=['night', 'morning', 'afternoon', 'evening'], right=False )

In [26]:
# Top four records for cross checking
df.head(4)

,year,month,day_of_week,hour_of_day,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day_period
0,2011,1,5,0,spring,0,0,1,9.84,14.395,81,0.0,3,13,16,night
1,2011,1,5,1,spring,0,0,1,9.02,13.635,80,0.0,8,32,40,night
2,2011,1,5,2,spring,0,0,1,9.02,13.635,80,0.0,5,27,32,night
3,2011,1,5,3,spring,0,0,1,9.84,14.395,75,0.0,3,10,13,night

In [27]:
# Middle 10 records for cross checking
df.loc[10:20,:]

,year,month,day_of_week,hour_of_day,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day_period
10,2011,1,5,10,spring,0,0,1,15.58,19.695,76,16.9979,12,24,36,morning
11,2011,1,5,11,spring,0,0,1,14.76,16.665,81,19.0012,26,30,56,morning
12,2011,1,5,12,spring,0,0,1,17.22,21.210,77,19.0012,29,55,84,afternoon
13,2011,1,5,13,spring,0,0,2,18.86,22.725,72,19.9995,47,47,94,afternoon
14,2011,1,5,14,spring,0,0,2,18.86,22.725,72,19.0012,35,71,106,afternoon
15,2011,1,5,15,spring,0,0,2,18.04,21.970,77,19.9995,40,70,110,afternoon
16,2011,1,5,16,spring,0,0,2,17.22,21.210,82,19.9995,41,52,93,afternoon
17,2011,1,5,17,spring,0,0,2,18.04,21.970,82,19.0012,15,52,67,afternoon
18,2011,1,5,18,spring,0,0,3,17.22,21.210,88,16.9979,9,26,35,evening
19,2011,1,5,19,spring,0,0,3,17.22,21.210,88,16.9979,6,31,37,evening
20,2011,1,5,20,spring,0,0,2,16.40,20.455,87,16.9979,11,25,36,evening

In [28]:
# Bottom 4 records for cross checking
df.tail(4)

,year,month,day_of_week,hour_of_day,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day_period
10882,2012,12,2,20,winter,0,1,1,14.76,17.425,57,15.0013,10,231,241,evening
10883,2012,12,2,21,winter,0,1,1,13.94,15.910,61,15.0013,4,164,168,evening
10884,2012,12,2,22,winter,0,1,1,13.94,17.425,61,6.0032,12,117,129,evening
10885,2012,12,2,23,winter,0,1,1,13.12,16.665,66,8.9981,4,84,88,evening

### 12. Generate a pivot table for the mean of the hourly total rentals count, with the index set to the day period and the column set to the working day column. What can you observe from the table ?

In [29]:
pivot_table = pd.pivot_table(df, values='count', index='day_period', columns='workingday', aggfunc='mean', observed=False)
print(pivot_table)
print(" ")
print("Working days show higher bike rentals during morning and evening commutes. Non-working days see more rentals overnight and throughout the afternoon, suggesting leisure use. Peak usage on non-working days is in the afternoon.")

workingday           0           1
day_period
night        44.052083   16.217582
morning     157.772414  234.353763
afternoon   371.022989  266.196141
evening     180.182759  251.054662

Working days show higher bike rentals during morning and evening commutes. Non-working days see more rentals overnight and throughout the afternoon, suggesting leisure use. Peak usage on non-working days is in the afternoon.

In [31]:
df.to_csv("newtest.csv")